python-dotenv>=1.0.1
rich>=13.9.4
litellm>=1.64.1
pillow>=10.4.0
numpy>=1.26.4
pynput>=1.8.1
transformers>=4.50.1
markdownify>=1.1.0
duckduckgo-search>=7.5.4
mammoth>=1.9.0
pandas>=2.2.3
pdfminer-six>=20250327
python-pptx>=1.0.2
puremagic>=1.28
pydub>=0.25.1
speechrecognition>=3.14.2
pathvalidate>=3.2.3
serpapi>=0.1.5
google-search-results>=2.4.2
datasets>=3.5.0
anthropic>=0.49.0
openpyxl>=3.1.5
baidusearch>=1.0.3
patchright>=1.51.3
pyautogui>=0.9.54
json5>=0.12.0
tenacity>=9.1.2
crawl4ai>=0.6.3
camelot-py>=1.0.0
xlrd>=2.0.1
toml>=0.10.2
googlesearch-python>=1.3.0
wandb>=0.19.11
alpaca-py>=0.40.1
tensordict>=0.8.3
langchain-openai>=0.3.22
mmengine>=0.10.7
accelerate>=1.7.0
pandas_market_calendars>=5.1.0
akshare>=1.16.98
tensorboard>=2.19.0
pylatexenc>=2.10
mathruler>=0.1.0
gym>=0.26.2
einops>=0.8.1
timm>=1.0.15
diffusers>=0.33.1
scipy>=1.15.3
vit_pytorch>=1.10.1
mplfinance>=0.12.10b0
torchmetrics>=1.7.4
iopath>=0.1.10
firecrawl>=2.16.1
jqdatasdk>=1.9.7